body {
  margin: 0;
  border: 0;
  padding: 0;
}
.background {
  background: url("manhattan-336708_1920.jpg");
  position: relative;
  height: 100vh;
}

.layer {
  background-color: rgba(1, 23, 47, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#aboutme {
  height: 80vh;
}

#skills {
  /* border: 1px solid orange; */
  height: 90vh;
  background: rgb(238, 238, 238);
}

#experience {
  /* border: 1px solid brown; */
  height: 90vh;
}

#portfolio {
  /* border: 1px solid green; */
  height: 100vh;
  background: rgb(238, 238, 238);
}

#contact {
  background-color: rgb(1, 23, 47);
  height: 100vh;
}
hr {
  width: 250px;
  height: 1.3px;
  background: rgb(8, 164, 189);
}
.main {
  font-family: "Raleway", sans-serif;
  color: white;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 280px;
  /* border: 1px solid purple; */
  width: 1000px;
  text-align: center;
  letter-spacing: 3px;
}
.name {
  font-family: "Roboto Mono", monospace;
  /* border: 1px solid orange; */

  font-weight: bold;
  /* text-align: center; */
  width: 100%;
  letter-spacing: 3px;
}
.name > h1 {
  font-size: 50px;
}
.mainnav {
  color: white;
}
.mainnav:hover {
  color: rgb(161, 161, 161);
}
a:hover {
  text-decoration: none;
}
.nav {
  font-size: 18px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  margin-top: 230px;
  width: 100%;
  letter-spacing: 3px;
}
.linkss {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;

  width: 1000px;
}
.sticky {
  background-color: rgba(1, 23, 47, 0.9);
  position: fixed;
  top: 0;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  width: 100%;
}
.highlight {
  color: rgb(8, 164, 189);
}
.about {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 100px;
}
.about > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: bold;
}
.about > hr {
  /* background: rgb(76, 33, 42); */
  background: rgb(0, 99, 93);
  height: 3px;
}
.pabout {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  width: 80%;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 50px;
}
.green {
  color: rgb(0, 99, 93);
  font-weight: bold;
  font-size: 32px;
}

.contactme {
  /* border: 1px solid red; */
  width: 300px;
  height: 90px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.contactbutton {
  height: 80px;
  width: 280px;
  background: none;
  border: 3px solid rgb(0, 99, 93);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 3px;
  color: rgb(0, 99, 93);
}
.contactbutton:hover {
  background: rgb(0, 99, 93);
  color: white;
}
#skills > .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */
}
.skills {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 100px;
}
.skills > h2 {
  /* border: 1px solid red; */
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: bold;
}

.skills > hr {
  height: 3px;
}
.skillslist {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  margin-top: 50px;
}

.frontend {
  /* border: 1px solid green; */
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}
.frontend > h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.backend {
  /* border: 1px solid purple; */
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}
.backend > h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.experiencecontent {
  /* border: 1px solid purple; */
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
.experiencetitle {
  /* border: 1px solid green; */
  text-align: center;
  margin-top: 50px;
}
.experiencetitle > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: bold;
}
.experiencetitle > hr {
  /* background: rgb(76, 33, 42); */
  background: rgb(161, 161, 161);
  height: 3px;
}
.generalassembly {
  text-align: center;
  /* border: 1px solid green; */
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 40px;
}
.paradigm {
  text-align: center;
  /* border: 1px solid purple; */
  width: 80%;
  margin: 0 auto;
}
.generalassembly > h3 {
  /* font-family: "Roboto Mono", monospace; */
  font-weight: bold;
  font-size: 30px;
}
.generalassembly > h4 {
  color: rgb(0, 99, 93);
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}
.generalassembly > h5 {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.generalassembly > p {
  font-size: 20px;
}
.paradigm > h3 {
  font-weight: bold;
  font-size: 30px;
}
.paradigm > h4 {
  color: rgb(0, 99, 93);
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}
.paradigm > h5 {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.paradigm > p {
  font-size: 20px;
}
.resume {
  /* border: 1px solid purple; */
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.resume > a {
  color: rgb(0, 99, 93);
  font-weight: bold;
  font-size: 30px;
}
.resume > a:hover {
  color: black;
}
.portfoliocontent {
  border: 1px solid transparent;
  height: 100%;
}
.portfoliotitle {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.portfoliotitle > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: bold;
}
.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  /* border: 1px solid orange; */
}
.news {
  /* border: 1px solid black; */
  width: 500px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.frowsy {
  /* border: 1px solid black; */
  width: 500px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.frowsy > p {
  margin-top: 10px;
}
.news > p {
  margin-top: 10px;
}
.news > .projectlinks > a {
  color: rgb(8, 164, 189);
  font-weight: bold;
  font-size: 25px;
}

.frowsy > .projectlinks > a {
  color: rgb(8, 164, 189);
  font-weight: bold;
  font-size: 25px;
}

.frowsy > .projectlinks > a:hover {
  color: white;
}

.news > .projectlinks > a:hover {
  color: white;
}

.projectlinks {
  display: flex;
  justify-content: space-evenly;
}
#contact {
  padding-top: 100px;
}
form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  height: 350px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.form {
  text-align: center;
}
.form > p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.form > h2 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: bold;
}
input {
  border-radius: 5px;
  border-color: transparent;
  font-style: italic;
}
textarea {
  border-radius: 5px;
  border-color: transparent;
  font-style: italic;
  height: 200px;
}

.submit {
  font-style: normal;
  width: 100px;
  color: white;
  background: rgb(8, 164, 189);
  margin: 0 auto;
}
.submit:hover {
  background: white;
  color: rgb(8, 164, 189);
}
